<div class="position position-absolute text-center width width-full">

    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <h2 class="text-colour text-colour-orange padding padding-top-xs padding-bottom-xs" >Would you like to make fixed monthly investments too?</h2>

                <div class="width width-full form-group position position-relative z-index z-index-low">

                    <input type="checkbox" class="checkbox checkbox-circle" id="noMonthlyInvestments" ng-model="sliders.topUp.noTopUp" ng-click="resetSlider('topUp')" ng-checked="sliders.topUp.data.reset"/>

                    <label class="checkbox-label" for="noMonthlyInvestments">No monthly investments</label>

                </div>

            </div>

        </div>

    </div>

</div>