$black: #000000;
$white: #ffffff;

$blue-light: #46a3de;
$blue: #4287c0;
$yellow: #FFAA19;

$grey-lightest: #f5f5f5;
$grey-lighter: #e5e5e5;
$grey: #b4b4b4;
$grey-dark: #666666;
$grey-darker: #212020;
$grey-darkest: #262626;
$grey-desaturated: #333030;

$brown-darkest: #2a2627;

$green: #35db9b;
$green-bright: #70b012;

$orange-light: #f06617;
$orange: #df6e16;
$orange-dark: #542908;
$dummy-low-orange-opacity: rgb(82, 56, 45);

$red: #E25050;