//Standard settings
$std-size: 17px;
$h1-size : 48px;
$h2-size : 36px;
$h3-size : 25px;
$h4-size : 21px;
$h5-size : 18px;
$h6-size : 13px;
$lead-size : $h4-size;
$footnote-size : $h6-size;
$active-plus-icon: 16px;

//mdlg settings
$std-mdlg-size: 17px;
$h1-mdlg-size : 40px;
$h2-mdlg-size : 32px;
$h3-mdlg-size : 24px;
$h4-mdlg-size : 19px;
$h5-mdlg-size : 17px;
$h6-mdlg-size : 13px;
$lead-mdlg-size : $h4-mdlg-size;
$footnote-mdlg-size : $h6-mdlg-size;

//SM options
$std-sm-size: 13px;
$h1-sm-size : 40px;
$h2-sm-size : 35px;
$h3-sm-size : 23px;
$h4-sm-size : 17px;
$h5-sm-size : 15px;
$h6-sm-size : 11px;
$lead-sm-size : $h4-sm-size;
$footnote-sm-size : $h6-sm-size;

//XS options
$h1-xs-size : 25px;
$h2-xs-size : 21px;
$h3-xs-size : 19px;
$h4-xs-size : 17px;
$h5-xs-size : 14px;
$h6-xs-size : 11px;
$lead-xs-size : $h4-xs-size;
$footnote-xs-size : $h6-xs-size;
$std-xs-size : 13px;

$icon-badge : 10px;