/**
* Set up site margins
*/
$margin-xxs: 10px;
$margin-xs: 20px;
$margin-sm: 40px;
$margin-md: 64px;
$margin-lg: 120px;
$margin-negative-xxs: -10px;
$margin-negative-xs: -20px;
$margin-negative-sm: -40px;
$margin-negative-md: -64px;
$margin-negative-lg: -120px;
$margin-xs-xxs: 6px;
$margin-xs-xs: 10px;
$margin-xs-sm: 15px;
$margin-xs-md: 30px;
$margin-xs-lg: 60px;
$margin-xs-negative-xxs: -5px;
$margin-xs-negative-xs: -10px;
$margin-xs-negative-sm: -15px;
$margin-xs-negative-md: -30px;
$margin-xs-negative-lg: -60px;