/**
* Set up site paddings
*/
$padding-xxs: 10px;
$padding-xs: 20px;
$padding-sm: 40px;
$padding-md: 64px;
$padding-mdlg: 86px;
$padding-lg: 120px;
$padding-negative-sm: -40px;
$padding-negative-md: -80px;
$padding-negative-mdlg: -86px;
$padding-negative-lg: -120px;
$padding-xs-xxs: 7px;
$padding-xs-xs: 10px;
$padding-xs-sm: 15px;
$padding-xs-md: 30px;
$padding-xs-mdlg: 50px;
$padding-xs-lg: 60px;
$padding-xs-negative-sm: -15px;
$padding-xs-negative-md: -30px;
$padding-xs-negative-mdlg: -50px;
$padding-xs-negative-lg: -60px;