.activation-employment-status {
    
    .form-group input.text-field {
        right: 0;
        margin: 10px 0 0 0;
        width: 360px;
    }

    p{
        margin-left: -22px;
        margin-top: 20px;
        width: 400px;
    }

    span.small-message{
        font-size: 0.85em;
    }
}