<div class="dashboard">

    <div class="container-fluid dashboard-container">
        <nav class="dashboard-nav">
            <ul class="nav navbar">
                <li class="dropdown pull-right">Philipe <i class="fa fa-chevron-down"></i></li>
                <li class="dropdown pull-right"><i class="fa fa-bell-o"></i></li>
            </ul>
        </nav>
        <div class="row dashboard-row1">
            <div class="col-sm-6">
                <div class="panel panel-default panel-portfolio-summary-chart text-center">
                    <div class="portfolio-summary-chart-wrapper">
                        <h3 class="amount width width-full text-center">£2,045,000</h3>
                        <p class="balance width width-full text-center">Balance</p>
                        <img class="width width-full" src="assets/img/dashboard/portfolio-summary-chart.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="portfolio-list">
                    <li class="panel panel-default portfolio-list-item container-fluid item-1">
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <h3>Kid's Tuition Fees</h3>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="amount">£45,000</p>
                            </div>
                        </div>
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <p class="wrapper-type">ISA Investment</p>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="percentage positive">+0.77%</p>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default portfolio-list-item container-fluid item-2">
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <h3>Initial Retirement</h3>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="amount">£1,300,000</p>
                            </div>
                        </div>
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <p class="wrapper-type">General Investment</p>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="percentage negative">-2.39%</p>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default portfolio-list-item container-fluid item-3">
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <h3>Dream House</h3>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="amount">£700,000</p>
                            </div>
                        </div>
                        <div class="row height height-full">
                            <div class="col col-xs-8 position position-relative">
                                <p class="wrapper-type">SIPP for Growth</p>
                            </div>
                            <div class="col col-xs-4 position position-relative">
                                <p class="percentage positive">+4.22%</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default panel-total-performance-chart">
                    <h3 class="padding padding-top-xs text-center">Performance over time</h3>
                    <div class="total-performance-chart-wrapper margin margin-top-md">
                        <img class="width width-full" src="assets/img/dashboard/total-performace-chart.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default position position-relative panel-total-earnings-chart">
                    <h3 class="padding padding-top-xs text-center">Earnings over time</h3>
                    <div class="total-earnings-data earnings-total display display-inline-block">
                        <p>£21k<span>of earnings</span></p>   
                    </div>
                    <div class="total-earnings-data earnings-percent display display-inline-block">
                        <p class="percentage positive">+6.3%<span>of earnings</span></p>
                    </div>
                    <img class="width width-full" src="assets/img/dashboard/earnings-chart.svg" />
                    
                </div>
            </div>
        </div>


    </div>

</div>

