@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/MarkPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/MarkPro-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/MarkPro-Book.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/MarkPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}