@charset "UTF-8";

@font-face {
  font-family: "tiller-iconfont";
  src:url("../fonts/tiller-iconfont.eot");
  src:url("../fonts/tiller-iconfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tiller-iconfont.woff") format("woff"),
    url("../fonts/tiller-iconfont.ttf") format("truetype"),
    url("../fonts/tiller-iconfont.svg#tiller-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tiller-iconfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tiller-iconfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// .icon-01:before {
//   content: "\61";
// }
// .icon-02:before {
//   content: "\62";
// }
// .icon-03:before {
//   content: "\63";
// }
// .icon-04:before {
//   content: "\64";
// }
// .icon-05:before {
//   content: "\65";
// }
// .icon-06:before {
//   content: "\66";
// }
// .icon-07:before {
//   content: "\67";
// }
// .icon-08:before {
//   content: "\68";
// }
// .icon-09:before {
//   content: "\69";
// }
// .icon-10:before {
//   content: "\6a";
// }
// .icon-11:before {
//   content: "\6b";
// }
// .icon-12:before {
//   content: "\6c";
// }
// .icon-13:before {
//   content: "\6d";
// }
// .icon-14:before {
//   content: "\6e";
// }
// .icon-15:before {
//   content: "\6f";
// }
// .icon-16:before {
//   content: "\70";
// }
// .icon-17:before {
//   content: "\71";
// }
// .icon-18:before {
//   content: "\72";
// }
// .icon-19:before {
//   content: "\73";
// }
// .icon-20:before {
//   content: "\74";
// }
// .icon-21:before {
//   content: "\75";
// }
// .icon-22:before {
//   content: "\76";
// }
// .icon-23:before {
//   content: "\77";
// }
// .icon-24:before {
//   content: "\78";
// }
// .icon-25:before {
//   content: "\79";
// }
// .icon-26:before {
//   content: "\7a";
// }
// .icon-27:before {
//   content: "\41";
// }
// .icon-28:before {
//   content: "\42";
// }
// .icon-29:before {
//   content: "\43";
// }
// .icon-30:before {
//   content: "\44";
// }
// .icon-31:before {
//   content: "\45";
// }
// .icon-32:before {
//   content: "\46";
// }




/* the new stuff */

.icon-01-big:before {
  content: "\61";
}
.icon-01-medium:before {
  content: "\62";
}
.icon-01-small:before {
  content: "\63";
}
.icon-02-big:before {
  content: "\64";
}
.icon-02-medium:before {
  content: "\65";
}
.icon-02-small:before {
  content: "\66";
}
.icon-03-big:before {
  content: "\67";
}
.icon-03-medium:before {
  content: "\68";
}
.icon-03-small:before {
  content: "\69";
}
.icon-04-big:before {
  content: "\6a";
}
.icon-04-medium:before {
  content: "\6b";
}
.icon-04-small:before {
  content: "\6c";
}
.icon-05-big:before {
  content: "\6d";
}
.icon-05-medium:before {
  content: "\6e";
}
.icon-05-small:before {
  content: "\6f";
}
.icon-06-big:before {
  content: "\70";
}
.icon-06-medium:before {
  content: "\71";
}
.icon-06-small:before {
  content: "\72";
}
.icon-07-big:before {
  content: "\73";
}
.icon-07-medium:before {
  content: "\74";
}
.icon-07-small:before {
  content: "\75";
}
.icon-08-big:before {
  content: "\76";
}
.icon-08-medium:before {
  content: "\77";
}
.icon-08-small:before {
  content: "\78";
}
.icon-09-big:before {
  content: "\79";
}
.icon-09-medium:before {
  content: "\7a";
}
.icon-09-small:before {
  content: "\41";
}
.icon-10-big:before {
  content: "\42";
}
.icon-10-medium:before {
  content: "\43";
}
.icon-10-small:before {
  content: "\44";
}
.icon-11-big:before {
  content: "\45";
}
.icon-11-medium:before {
  content: "\46";
}
.icon-11-small:before {
  content: "\47";
}
.icon-12-big:before {
  content: "\48";
}
.icon-12-medium:before {
  content: "\49";
}
.icon-12-small:before {
  content: "\4a";
}
.icon-13-big:before {
  content: "\4b";
}
.icon-13-medium:before {
  content: "\4c";
}
.icon-13-small:before {
  content: "\4d";
}
.icon-14-big:before {
  content: "\4e";
}
.icon-14-medium:before {
  content: "\4f";
}
.icon-14-small:before {
  content: "\50";
}
.icon-15-big:before {
  content: "\51";
}
.icon-15-medium:before {
  content: "\52";
}
.icon-15-small:before {
  content: "\53";
}
.icon-16-big:before {
  content: "\54";
}
.icon-16-medium:before {
  content: "\55";
}
.icon-16-small:before {
  content: "\56";
}
.icon-17-big:before {
  content: "\57";
}
.icon-17-medium:before {
  content: "\58";
}
.icon-17-small:before {
  content: "\59";
}
.icon-18-big:before {
  content: "\5a";
}
.icon-18-medium:before {
  content: "\30";
}
.icon-18-small:before {
  content: "\31";
}
.icon-19-big:before {
  content: "\32";
}
.icon-19-medium:before {
  content: "\33";
}
.icon-19-small:before {
  content: "\34";
}
.icon-20-big:before {
  content: "\35";
}
.icon-20-medium:before {
  content: "\36";
}
.icon-20-small:before {
  content: "\37";
}
.icon-21-big:before {
  content: "\38";
}
.icon-21-medium:before {
  content: "\39";
}
.icon-21-small:before {
  content: "\21";
}
.icon-22-big:before {
  content: "\22";
}
.icon-22-medium:before {
  content: "\23";
}
.icon-22-small:before {
  content: "\24";
}
.icon-23-big:before {
  content: "\25";
}
.icon-23-medium:before {
  content: "\26";
}
.icon-23-small:before {
  content: "\27";
}
.icon-24-big:before {
  content: "\28";
}
.icon-24-medium:before {
  content: "\29";
}
.icon-24-small:before {
  content: "\2a";
}
.icon-25-big:before {
  content: "\2b";
}
.icon-25-medium:before {
  content: "\2c";
}
.icon-25-small:before {
  content: "\2d";
}
.icon-26-big:before {
  content: "\2e";
}
.icon-26-medium:before {
  content: "\2f";
}
.icon-26-small:before {
  content: "\3a";
}
.icon-27-big:before {
  content: "\3b";
}
.icon-27-medium:before {
  content: "\3c";
}
.icon-27-small:before {
  content: "\3d";
}
.icon-28-big:before {
  content: "\3e";
}
.icon-28-medium:before {
  content: "\3f";
}
.icon-28-small:before {
  content: "\40";
}
.icon-29-big:before {
  content: "\5b";
}
.icon-29-medium:before {
  content: "\5d";
}
.icon-29-small:before {
  content: "\5e";
}
.icon-30-big:before {
  content: "\5f";
}
.icon-30-medium:before {
  content: "\60";
}
.icon-30-small:before {
  content: "\7b";
}
.icon-31-big:before {
  content: "\7c";
}
.icon-31-medium:before {
  content: "\7d";
}
.icon-31-small:before {
  content: "\7e";
}
.icon-32-big:before {
  content: "\5c";
}
.icon-32-medium:before {
  content: "\e000";
}
.icon-32-small:before {
  content: "\e001";
}
.icon-33-big:before {
  content: "\e002";
}
.icon-33-medium:before {
  content: "\e003";
}
.icon-33-small:before {
  content: "\e004";
}
.icon-34-big:before {
  content: "\e005";
}
.icon-34-medium:before {
  content: "\e006";
}
.icon-34-small:before {
  content: "\e007";
}
.icon-35-big:before {
  content: "\e008";
}
.icon-35-medium:before {
  content: "\e009";
}
.icon-35-small:before {
  content: "\e00a";
}
.icon-36-big:before {
  content: "\e00b";
}
.icon-36-medium:before {
  content: "\e00c";
}
.icon-36-small:before {
  content: "\e00d";
}
.icon-37-big:before {
  content: "\e00e";
}
.icon-37-medium:before {
  content: "\e00f";
}
.icon-37-small:before {
  content: "\e010";
}
.icon-38-big:before {
  content: "\e011";
}
.icon-38-medium:before {
  content: "\e012";
}
.icon-38-small:before {
  content: "\e013";
}
.icon-39-big:before {
  content: "\e014";
}
.icon-39-medium:before {
  content: "\e015";
}
.icon-39-small:before {
  content: "\e016";
}
.icon-40-big:before {
  content: "\e017";
}
.icon-40-medium:before {
  content: "\e018";
}
.icon-40-small:before {
  content: "\e019";
}
