<div onboarding-step step-scope="stepScope"
     title="You can come back at anytime"
     strapline="Rest assured, your data has been saved and next time you login you'll be able to continue from where you left.">

    <div class="row margin margin-bottom-xs">
        <a href="#" class="btn btn-start btn-primary" ng-click="saveExit()">Save & exit</a>
    </div>
    <div class="row">
        <a href="#" class="start-again" ui-sref="{{previousState}}">Go back to set up</a>
    </div>
</div>
