.line-height {
  &.line-height-zero {
    line-height: $line-height-none;
  }
  &.line-height-reduce {
    line-height: $line-height-reduce;
  }
  &.line-height-lg {
    line-height: $line-height-lg;
  }
}